.App {
  text-align: center;
}
/* feature slider */
.featureSwiper {
  padding: 50px 0px 100px !important;
}

.featureSwiper .swiper-pagination {
  display: block;
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: auto !important;
  bottom: 0px !important;
  z-index: 50 !important;
  margin: 0;
}
.featureSwiper .swiper-pagination-bullet {
  /* padding: 5px 10px; */
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
  text-align: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #e87825;
}
.featureSwiper .swiper-pagination-bullet-active {
  background: #e87825 !important;
}

.featureSwiper .swiper-button-next:after,
.featureSwiper .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  border: 1px solid #e87825;
  padding: 15px 20px;
  border-radius: 50%;
}
.featureSwiper .swiper-button-prev {
  left: 15px;
  z-index: 100 !important;
}
.featureSwiper .swiper-button-next {
  right: 15px;
}
.custom-gradiant {
  background: linear-gradient(180deg, #ef9d57 0%, #e45c00 100%), #d9d9d9;
}
.custom-shadow {
  box-shadow: 0px 4.22694px 33.8155px rgba(239, 156, 85, 0.5);
}

/*user profile */
.custom-user-bg {
  background: linear-gradient(
    122.79deg,
    rgba(255, 255, 255, 0.1) 5.39%,
    rgba(255, 255, 255, 0.03) 63.48%
  );
}

/* new raffle */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.custom-form-bg {
  background: linear-gradient(
    122.79deg,
    rgba(255, 255, 255, 0.1) 5.39%,
    rgba(255, 255, 255, 0.03) 63.48%
  );
}
.custom-raffle-card {
  border: 0.997775px solid #ef9c55;
  box-shadow: 0px 4.22694px 33.8155px rgba(239, 156, 85, 0.8);
  border-radius: 7.9822px;
}

/* /swiper slider */
.featureSwiper .swiper-button-prev,
.featureSwiper .swiper-button-next {
  display: none;
}

@media (max-width: 640px) {
  .featureSwiper .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}
